@inherits UserViewRazor
@page "/UserView"
@using System.Net.Mime
@using System.Drawing
@inject IJSRuntime _jsRuntime
@inject IEmailSender _emailSender
@using SixLabors.ImageSharp
@using SixLabors.ImageSharp.Drawing
@using SixLabors.ImageSharp.Drawing.Processing
@using SixLabors.ImageSharp.Processing;
@using SixLabors.ImageSharp.Formats.Jpeg
@using SixLabors.Fonts
@using System.Net.Http
@using System.IO
@using System.Runtime.CompilerServices
@using EDHWebApp.Data
@using EDHWebApp.Model

<head>
    <title>EDH Camera</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<EditForm Model="_pictureEmail">
    <div class="container">
        <div class="col-md-12">
        </div>
        <div class="text">
            <h1>EDH Camera</h1>
        </div>

        
        
        
        
        <div class="user_name" >
            <h4> Hi, @FullName</h4>
        </div>

        <div class="selectedPicture">
            <InputFile runant="server"  type="file" name="image" id="picture" accept="image/*" capture="environment" OnChange="GetPicture"></InputFile>
        </div>
    
        <div class="form-group">Payment Type:
            <InputSelect  Value="@_pictureEmail.PaymentType"  ValueExpression="@(()=>_pictureEmail.PaymentType)"
                          ValueChanged="@((string value) => OnValueChanged(value ))">
    
                <option >MasterCard</option>
                <option>Visa</option>
                <option>MobilePay</option>
                <option>Cash</option>
                <option>Other</option>
            </InputSelect>
        </div>
        
        <div>
            <button class="button-29" style=" " id="imgSender" @onclick="CaptureFrame">Send Picture</button> <br />
        </div>
        
        <div id="messageText" style="margin-top: 2em" >
            <p class="text-success">
                @success
            </p>
            <p class="text-danger">
                @errorMessage
            </p>
        </div>
        
    </div>
</EditForm>


@if (!string.IsNullOrEmpty(frameUri))
{
    <img src="@frameUri" />
}

@code{
    
}
