@page "/ViewCompanies"
@using EDHWebApp.Model
@using EDHWebApp.Data
@inject ICompaniesData CompaniesData
@inject NavigationManager NavigationManager;
<h3>Companies</h3>

<EditForm Model="@companyToRegister" OnValidSubmit="@RegisterCompany">
    <DataAnnotationsValidator/>
    <ValidationSummary/>
    
    <div class="form-group">Company Name:
        <InputText @bind-Value="@companyToRegister.Name"/>
    </div>
    <div class="form-group">Company Email:
        <InputText @bind-Value="@companyToRegister.Email"/>
    </div>
   
    <p class="action">
        <button class="btn btn-success">Save Changes</button>
    </p>
</EditForm>

@if (allCompanies == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else if (!allCompanies.Any())
{
    <p>
        <em>There are no companies to show</em>
    </p>
}
else
{
    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Creation Date</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var company in allCompanies)
        {
            <tr id="table_row">
                <td>@company.CompanyId</td>
                <td>@company.Name</td>
                <td>@company.Email</td>
                <td>@company.CreationDate</td>
                <td>
                    <button class="btn btn-success" @onclick="() => EditCompany(company.CompanyId)">Edit</button>
                    <button class="btn btn-danger" @onclick="() => DeleteCompany(company)">Delete</button>
                </td>
            </tr>
        }
        </tbody>
        
    </table>
}




@code {
    private IList<Company> allCompanies;
    
    private Company companyToRegister = new Company();



    protected override async Task OnInitializedAsync()
    {
        base.OnInitialized();
        allCompanies = await CompaniesData.GetAllCompanies();
    }

    private async void RegisterCompany()
    {
        if (!allCompanies.Contains(companyToRegister))
        {
            allCompanies.Add(companyToRegister);
            await CompaniesData.RegisterCompany(companyToRegister);
        }
        

    }

    private void EditCompany(int companyId)
    {
        NavigationManager.NavigateTo($"/Company/{companyId}");
    }
    
    private void DeleteCompany(Company company)
    {
         CompaniesData.DeleteCompany(company.CompanyId);
        allCompanies.Remove(company);

    }

}